acesMetadataFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:acesMetadata:acesMetadataFile:v1.0"
	xmlns:aces="urn:acesMetadata:acesMetadataFile:v1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:cdl="urn:ASC:CDL:v1.01" 
	xmlns:dcml="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

	<!-- Import CDL Schema -->
	<xs:import schemaLocation="ASC-CDL_schema_v1.01.xsd" 
		namespace="urn:ASC:CDL:v1.01"/>
	
	<!-- Import SMPTE DCML Types Schema -->
	<xs:import schemaLocation="https://smpte-ra.org/sites/default/files/st433b-2008-am1-2011.xsd"
		namespace="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" />
	
	<!-- Import XML Sig Schema -->
	<xs:import schemaLocation="https://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"
		namespace="http://www.w3.org/2000/09/xmldsig#" />

	<!-- Define general types -->
	<xs:simpleType name="singleDigitType">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="dateTimeType">
		<xs:sequence>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modificationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Define transform name types -->
	<xs:simpleType name="tnLookTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(LMT\.\S+\.a\d{1}\.v\d+)|(LMT\.Academy\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnInputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(IDT\.\S+\.a\S+\.v\S+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnOutputDeviceTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ODT\.\S+\.\S+\.a\d{1}\.v\d+)|(ODT\.Academy\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnOutputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(RRTODT\.\S+\.\S+\.a\d{1}\.v\d+)|(RRTODT\.Academy\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnReferenceRenderingTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(RRT\.a\d{1}\.\d\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnToLookTransformWorkingSpace">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ACEScsc\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnFromLookTransformWorkingSpace">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ACEScsc\.\S+\.a\S+\.\S+\.\S+)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="hashAlgoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sha256"/>
			<xs:enumeration value="sha1"/>
			<xs:enumeration value="md5"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="emailAddressType"> 
		<xs:restriction base="xs:string"> 
			<xs:pattern value="[^@]+@[^\.]+\..+"/> 
		</xs:restriction> 
	</xs:simpleType>

	<xs:complexType name="hashType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="algorithm" type="aces:hashAlgoType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- Define clip identification types -->
	<xs:complexType name="sequenceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="idx" type="xs:string" use="required"/>
				<xs:attribute name="min" type="xs:nonNegativeInteger" use="required"/>
				<xs:attribute name="max" type="xs:nonNegativeInteger" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="clipIdType">
		<xs:sequence>
			<xs:element name="clipName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="sequence" type="aces:sequenceType"/>
				<xs:element name="file" type="xs:string"/>
				<xs:element name="uuid" type="dcml:UUIDType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Define transform types -->
	<xs:complexType name="transformType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hash" type="aces:hashType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="inputTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="aces:tnInputTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="applied" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="referenceRenderingTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="aces:tnReferenceRenderingTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="outputDeviceTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="aces:tnOutputDeviceTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="outputTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:sequence>
						<xs:element name="transformId" type="aces:tnOutputTransform" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="referenceRenderingTransform" type="aces:referenceRenderingTransformType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="outputDeviceTransform" type="aces:outputDeviceTransformType" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="toLookTransformWorkingSpaceType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="aces:tnToLookTransformWorkingSpace" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="fromLookTransformWorkingSpaceType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="aces:tnFromLookTransformWorkingSpace" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="lookTransformWorkingSpaceType">
		<xs:sequence>
			<xs:element name="toLookTransformWorkingSpace" type="aces:toLookTransformWorkingSpaceType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="fromLookTransformWorkingSpace" type="aces:fromLookTransformWorkingSpaceType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="lookTransformsType">
		<xs:choice minOccurs="1" maxOccurs="5">
			<xs:element name="lookFile" type="aces:lookFileType"/>
			<xs:element name="asc-cdl" type="aces:cdlType"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="lookTransformType">
		<xs:complexContent>
			<xs:extension base="aces:transformType">
				<xs:sequence>
					<xs:element name="lookTransformWorkingSpace" type="aces:lookTransformWorkingSpaceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="lookTransformStackPosition" type="aces:singleDigitType" use="required"/>
				<xs:attribute name="applied" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="cdlType">
		<xs:complexContent>
			<xs:extension base="aces:lookTransformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:sequence>
						<xs:element ref="cdl:SOPNode" minOccurs="1" maxOccurs="1"/>
						<xs:element ref="cdl:SatNode" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:element ref="cdl:ColorCorrectionRef"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="lookFileType">
		<xs:complexContent>
			<xs:extension base="aces:lookTransformType">
				<xs:sequence>
					<xs:element name="transformId" type="aces:tnLookTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="versionType">
		<xs:sequence>
			<xs:element name="majorVersion" type="aces:singleDigitType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="minorVersion" type="aces:singleDigitType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="patchVersion" type="aces:singleDigitType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="author">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="emailAddress" type="aces:emailAddressType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="infoType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="author" type="aces:author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dateTime" type="aces:dateTimeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uuid" type="dcml:UUIDType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pipelineInfoType">
		<xs:complexContent>
			<xs:extension base="aces:infoType">
				<xs:sequence>
					<xs:element name="systemVersion" type="aces:versionType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="pipelineType">
		<xs:sequence>
			<xs:element name="pipelineInfo" type="aces:pipelineInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="inputTransform" type="aces:inputTransformType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lookTransforms" type="aces:lookTransformsType" minOccurs="0" maxOccurs="1">
				<xs:unique name="uniqueLookTransformStackPosition">
					<xs:selector xpath="aces:lookFile | aces:asc-cdl" />
					<xs:field xpath="@lookTransformStackPosition" />
				</xs:unique>
			</xs:element>
			<xs:element name="outputTransform" type="aces:outputTransformType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Define ACES Metadata File element -->
	<xs:element name="acesMetadataFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="amfInfo" type="aces:infoType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="clipId" type="aces:clipIdType" minOccurs="0" maxOccurs="1"/>
				<xs:element name="pipeline" type="aces:pipelineType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="archivedPipeline" type="aces:pipelineType" minOccurs="0" maxOccurs="10"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" fixed="1.0"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
