acesMetadataFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:acesMetadata:acesMetadataFile:v2.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:amf="urn:acesMetadata:acesMetadataFile:v2.0"
	xmlns:cdl="urn:ASC:CDL:v1.01" 
	xmlns:dcml="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">

	<!-- Import CDL Schema -->
	<xs:import schemaLocation="ASC-CDL_schema_v1.01.xsd" 
		namespace="urn:ASC:CDL:v1.01"/>
	
	<!-- Import SMPTE DCML Types Schema -->
	<xs:import schemaLocation="https://smpte-ra.org/sites/default/files/st433b-2008-am1-2011.xsd"
		namespace="http://www.smpte-ra.org/schemas/433/2008/dcmlTypes/" />
	
	<!-- Import XML Sig Schema -->
	<xs:import schemaLocation="https://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"
		namespace="http://www.w3.org/2000/09/xmldsig#" />

	<!-- Define general types -->
	<xs:simpleType name="singleDigit">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="dateTime">
		<xs:sequence>
			<xs:element name="creationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="modificationDateTime" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Define transform name types -->
	<xs:simpleType name="tnLookTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(LMT\.\S+\.a\d{1}\.v\d+)|(LMT\.Academy\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnInputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(IDT\.\S+\.a\S+\.v\S+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnOutputDeviceTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ODT\.\S+\.\S+\.a\d{1}\.v\d+)|(ODT\.Academy\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnOutputTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(RRTODT\.\S+\.\S+\.a\d{1}\.v\d+)|(RRTODT\.Academy\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnReferenceRenderingTransform">
		<xs:restriction base="xs:string">
			<xs:pattern value="(RRT\.a\d{1}\.\d\.\d+)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnAcesToLookTransformWorkingSpace">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ACEScsc\.\S+\.a\d{1}\.\d{1}\.\d{1})"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tnLookTransformWorkingSpaceToAces">
		<xs:restriction base="xs:string">
			<xs:pattern value="(ACEScsc\.\S+\.a\S+\.\S+\.\S+)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="hashAlgoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sha256"/>
			<xs:enumeration value="sha1"/>
			<xs:enumeration value="md5"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="hashType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="algorithm" type="amf:hashAlgoType" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<!-- Define clip identification types -->
	<xs:complexType name="sequenceType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="idx" type="xs:string" use="required"/>
				<xs:attribute name="min" type="xs:nonNegativeInteger" use="required"/>
				<xs:attribute name="max" type="xs:nonNegativeInteger" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="clipIdType">
		<xs:sequence>
			<xs:element name="clipName" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="sequence" type="amf:sequenceType"/>
				<xs:element name="file" type="xs:string"/>
				<xs:element name="id" type="dcml:UUIDType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Define transform types -->
	<xs:complexType name="transformType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="hash" type="amf:hashType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="inputTransformType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="amf:tnInputTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="applied" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="rrtType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="amf:tnReferenceRenderingTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="outputDeviceTransformType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="amf:tnOutputDeviceTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="outputTransformType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:choice minOccurs="1" maxOccurs="1">
					<xs:sequence>
						<xs:element name="transformId" type="amf:tnOutputTransform" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element name="referenceRenderingTransform" type="amf:rrtType" minOccurs="1" maxOccurs="1"/>
						<xs:element name="outputDeviceTransform" type="amf:outputDeviceTransformType" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="acesToLookTransformWorkingSpaceType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="amf:tnAcesToLookTransformWorkingSpace" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="lookTransformWorkingSpaceToAcesType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:sequence>
					<xs:element name="transformId" type="amf:tnLookTransformWorkingSpaceToAces" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="lookTransformWorkingSpaceType">
		<xs:sequence>
			<xs:element name="acesToLookTransformWorkingSpace" type="amf:acesToLookTransformWorkingSpaceType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="lookTransformWorkingSpaceToAces" type="amf:lookTransformWorkingSpaceToAcesType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="lookTransformsType">
		<xs:choice minOccurs="1" maxOccurs="5">
			<xs:element name="lookFile" type="amf:lookFileType"/>
			<xs:element name="asc-cdl" type="amf:cdlType"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="lookTransformType">
		<xs:complexContent>
			<xs:extension base="amf:transformType">
				<xs:sequence>
					<xs:element name="lookTransformWorkingSpace" type="amf:lookTransformWorkingSpaceType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="lookTransformStackPosition" type="amf:singleDigit" use="required"/>
				<xs:attribute name="applied" type="xs:boolean" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="cdlType">
		<xs:complexContent>
			<xs:extension base="amf:lookTransformType">
				<xs:sequence>
					<xs:element name="SOPNode" type="cdl:SOPNodeType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="SatNode" type="cdl:SatNodeType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="lookFileType">
		<xs:complexContent>
			<xs:extension base="amf:lookTransformType">
				<xs:sequence>
					<xs:element name="transformId" type="amf:tnLookTransform" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="acesVersionType">
		<xs:sequence>
			<xs:element name="acesMajorVersion" type="amf:singleDigit" minOccurs="1" maxOccurs="1"/>
			<xs:element name="acesMinorVersion" type="amf:singleDigit" minOccurs="1" maxOccurs="1"/>
			<xs:element name="acesPatchVersion" type="amf:singleDigit" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="infoType">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dateTime" type="amf:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="uuid" type="dcml:UUIDType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pipelineInfoType">
		<xs:complexContent>
			<xs:extension base="amf:infoType">
				<xs:sequence>
					<xs:element name="acesVersion" type="amf:acesVersionType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="acesPipelineType">
		<xs:sequence>
			<xs:element name="pipelineInfo" type="amf:pipelineInfoType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="inputTransform" type="amf:inputTransformType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="lookTransforms" type="amf:lookTransformsType" minOccurs="0" maxOccurs="1">
				<xs:unique name="uniqueLookTransformStackPosition">
					<xs:selector xpath="amf:lookFile | amf:asc-cdl" />
					<xs:field xpath="@lookTransformStackPosition" />
				</xs:unique>
			</xs:element>
			<xs:element name="outputTransform" type="amf:outputTransformType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Define ACES Metadata File element -->
	<xs:element name="acesMetadataFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fileInfo" type="amf:infoType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="clipId" type="amf:clipIdType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="acesPipeline" type="amf:acesPipelineType" minOccurs="1" maxOccurs="1"/>
				<xs:element name="archivedAcesPipeline" type="amf:acesPipelineType" minOccurs="0" maxOccurs="10"/>
			</xs:sequence>
			<xs:attribute name="version" type="xs:decimal" use="required" fixed="2.0"/>
		</xs:complexType>
	</xs:element>

</xs:schema>
